<div class="widget-wrap">
  <h3 class="widget-title"><%= __('链接') %></h3>
  <div class="widget">
    <li><a href="http://www.lcsw.cn/" title="胡有明的博客">扫呗官网</a></li>
    <li>
      <a href="https://blog.breathcold.com/" title="胡有明的博客"
        >胡有明的博客</a
      >
    </li>
  </div>
</div>
